$accent-color: #d53369;
$accent-color-2: #daae51;
$accent-color-3: gold;
$enabled-color: #ad143d35;

$clickgui-base-color: rgb(0, 15, 25);
$clickgui-text-color: white;
$clickgui-text-dimmed-color: rgba(211, 211, 211, 255);
$clickgui-grid-color: rgba(128, 128, 128, 0.25);
$clickgui-main-color-1: #d53369;
$clickgui-main-color-2: #daae51;

$tabgui-base-color: rgb(0, 15, 25);
$tabgui-text-color: white;
$tabgui-text-dimmed-color: rgba(211, 211, 211, 255);

$arraylist-base-color: rgb(0, 15, 25);
$arraylist-text-color: rgba(220, 240, 252);
$arraylist-tag-color: #969696;

$scoreboard-color-1: rgb(255, 0, 98);
$scoreboard-color-2: rgb(255, 255, 255);

$targethud-base-color: rgb(0, 15, 25);
$targethud-text-color: white;
$targethud-text-dimmed-color: rgba(211, 211, 211, 1);

$blockcounter-base-color: rgb(0, 15, 25);

$hotbar-base-color: rgb(0, 15, 25);
$hotbar-text-color: white;
/* TODO: currently unused */
$hotbar-experience-color: #88C657;
$hotbar-health-color: #d53369;
$hotbar-hunger-color: #daae51;

$menu-account-premium-color: #67D24A;
$menu-base-color: black;
$menu-text-color: white;
$menu-text-dimmed-color: rgba(211, 211, 211, 255);
$menu-error-color: #fc4130;
$menu-button-loader-color: white;

$scoreboard-base-color: rgb(0, 15, 25);

$keystrokes-base-color: rgb(0, 15, 25);
$keystrokes-text-color: white;

$item-damage-base-color: black;



